.nav {
  width: 100%;
  background: linear-gradient(
    115.45deg,
    rgba(255, 255, 255, 0.8) -10.09%,
    rgba(255, 255, 255, 0) 77.17%
  );
  backdrop-filter: blur(40px);

  ul {
    list-style: none;
    margin-left: auto;
  }

  a {
    text-decoration: none;
  }

  &__wrap {
    padding: 1.25rem 0;
  }

  &__menu {
    &--link {
      padding: 0.5rem 1.5rem;
      font-weight: 400;
      font-size: 1rem;
      line-height: 160%;
      color: #8b7a7a;
      background-color: rgba(255, 255, 255, 0);
      transition: 0.2s ease-in-out;
      border-radius: 2rem;

      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}