@import "base";
@import "utilities";
@import "nav";

@import "cover";
@import "work";
@import "about";
@import "job";
@import "contact";


.bg__blur--index {
  background-image: url("../asset/bg__blur--index.png");
}

.parallex__bg--index {
  background-attachment: fixed;
  background-position: -200px center;
  background-size: cover;
  //   height: 880px;
  width: 100%;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.signature {
  width: 100%;
  padding: 2.5rem 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8b7a7a;
  text-align: center;
}
